body {
    background-color: #826F66;

}

div {
    border-radius: 10px;
    margin: 0 auto;
    width: 400px;
    height: auto;
    padding: 50px;
    background-color: #F7CCAC;
    color: #3A3845;
}

h3 {
    margin: 5px;
}
#comentario {
    width: 400px;
    height: 40px;
    border: 1px solid black;
    
}
#submit {
    
    display: block;
    width: 70px;
    height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    
}

